
  
  html,body
  {
    margin:0;
    height:100%;
  }
  body
  { background:black;
    background-image:url("https://preview.redd.it/does-anyone-know-how-to-create-the-netflix-colored-lines-v0-zp69f0bdm13e1.jpeg?width=640&crop=smart&auto=webp&s=e8a501ff6eca78eaaa609f4b1c49eb0f232869fc");
    background-repeat:no-repeat;
    background-size:cover;
    color:white;
    background-attachment: fixed;
    }

.img2
    {
        width:100px;
        height:80px;
    }

.top
{
    align-items: center;
    display:flex;
    justify-content:space-between;
    padding:30px;
}

.b2
{
    color:white;
    font-size:30px;
    justify-content: center;
    margin-left:auto;
    margin-right: auto;
    justify-content:center;
    place-items:center;


}

.b3
{
    color:white;
    font-size: medium;
    font-size:30px;

}


.info
{
    justify-content:center;
    place-items:center;
    display:flex;
    margin-left:auto;
    margin-right:auto;
    
}

#mainsection
{
    margin-left:auto;
    margin-right:auto;
    display:grid;
    justify-content:center;
    place-items: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    
}

.cards-container
{
    display:flex;
    flex-wrap:wrap ;
    justify-content:center;
    gap:50px
}

.card
{
    width: 300px;
    height:300px;
    flex-direction:row;
    
  
}

.card-image
{
    width: 300x;
    height: 300px;
    border-radius:  70px;
    flex-direction:row;
}




